apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
spec:
  ingressClassName: nginx
  rules:
  - host: argocd.local
    http:
      paths:
      - path: /                     # Любой путь после argocd.local
        pathType: Prefix            # Любой префикс
        backend:
          service:
            name: argocd-server     # На какой сервис маршрутить
            port:
              number: 80            # На какой порт сервиса
